<form  [formGroup]="form"
       class="editor-form">
  <json-editor [options]="editorOptions"
               [data]="data"
               class="json-editor"
               formControlName="configNode">
  </json-editor>
  <div class="action-container">
    <button mat-button
            [disabled]="!canSave()"
            (click)="cancel()">
      Cancel
    </button>
    <button mat-button
            [disabled]="!canSave()"
            [ngClass]="{'submit-button__disabled': !canSave()}"
            (click)="submit()"
            class="submit-button">
      Save config
    </button>
  </div>
</form>
