.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 300px auto;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fff;
  border: 1px solid #3883fa;
  border-right-width: 0px;

  &__header {
    padding: 10px;
    background-color: #3883fa;
    height: 15px;
    font-size: 14px;
    color: #ffffffbf;
  }

  &__content {
    padding: 10px;
  }
}

.main {
  grid-area: main;
  height: 100%;
  background-color: gray;
}
