<div *ngIf="childNodes" class="nodes">
  <button *ngFor="let node of childNodes" class="nodes__item" mat-stroked-button (click)="selectNode(node)">
    {{node.key}}
  </button>
</div>

<div class="add-form">
  <button *ngIf="!isFormOpened" (click)="openForm()" mat-stroked-button>
    <mat-icon>library_add</mat-icon>
    Add item
  </button>
  <form *ngIf="isFormOpened">
    <mat-form-field appearance="outline">
      <mat-label>Key name</mat-label>
      <input [formControl]="nodeName" matInput placeholder="key">
    </mat-form-field>
    <div class="actions">
      <button (click)="addNewNode()" class="save-button" mat-stroked-button color="primary">
        Save
      </button>
      <button (click)="cancel()" mat-stroked-button color="warn">
        Cancel
      </button>
    </div>
  </form>
</div>

